<div class="row">

<div class="panel panel-default col-sm-5">
 
    <div class="panel-heading">
        <button type="button" class="btn btn-danger pull-right btn-xs">DELETE</button> 
        <button type="button" class="btn btn-primary pull-right btn-xs">EDIT</button>
        <!-- <h4 class="list-group-item-heading "  *ngFor="let contacts of contacts">{{ contacts.name}}</h4> -->
        <span >
            <!-- <img
            *ngFor="let contacts of contacts"
              [src]="contacts.imageUrl"
              alt="{{ contacts.name }}"
              class="img-responsive"
              style="max-height: 50px;">
              -->
              
          </span>
         
          

    </div>
    <div class="panel-body">
      <p>Email:</p>
      <p>Phone:</p>
    </div>
  </div>
  
 
   
</div>
