<!-- <app-header (selectedFeatureEvent)="swithView($event)"></app-header>
<div  class="container pull-left"   [ngSwitche]="selectedFeatures">
    <app-documents *ngSwitchCase="documents"></app-documents>
    <app-message-list *ngSwitchCase="'messages'"></app-message-list>
    <app-contacts *ngSwitchDefault></app-contacts>
</div> -->

<app-header ></app-header> 
<div class="container">
  <div class="row"> 
      <div class="col-xs-12">
        <router-outlet></router-outlet>       
      </div>
  </div>
</div>



