<!-- <div class="container ">
<div class="row" >
    <div class="col-sm-4 primary panel  panel-default">
        <div class="pull-left">
           <h5>CONTACTS</h5>
        </div>
        <div class="pull-right">
            <button class="btn btn-success"> add contact</button>
        </div>

        <table class="table">
            <th>
               <p> {{ contacts.name }}</p>
              
            </th>
          </table>
         </div>
    

</div>

</div> -->
<div class="container">
<div class="row">
    <div class="col-sm-5">
        <div class="pull-left">
            <h5>CONTACTS</h5>
         </div>
         <div class="pull-right">
             <button class="btn btn-success"> add contact</button>
         </div>
    </div>
  </div>

  <div class="row">
    
    <div class="col-sm-5">
      
      
      <app-contact-item (click)="onSelected(contacts)" *ngFor="let contacts of contacts" [contacts]="contacts"     ></app-contact-item>
      <br>
      <!-- <app-contact-details></app-contact-details> -->
    </div>


  
  </div>
</div>
